.search
  p.start#t_0 神龍:這裡是替冒險者查詢修練進度的地方
  p.start#t_1 告訴我你的電子信箱吧！
  input(type="text" id="email" name="email" placeholder="Enter email" value="@gmail.com")
  input(type="submit" class="submit" value="送出")
.wrap
  .title
    h3#theme 
    h4#week 
    hr
  .skill 
  p#upload 
  p#status 
  a(href="javascript:;" target="_blank" class="demourl") 作品連結
  a(href="javascript:;" class="back") 返回
  
  //- .wrap
  //- .wrap
  //- .wrap
section.first
  .step_1
  .process
    .line
      ul
        li Todolist
          img(src="https://pre00.deviantart.net/59a1/th/pre/i/2016/146/d/f/radar_del_dragon_dbs_l_by_jaredsongohan-da3wzra.png", alt="")
        li.done 篩選器filter
          img(src="https://i.pinimg.com/originals/a5/f9/a2/a5f9a2eb5c0bfb1f66988696e1f31334.png", alt="")
        li 敬請期待
          img(src="https://i.pinimg.com/originals/0b/72/75/0b72755a5ea5e1999d6fbfd3aa544355.png", alt="")
        li 敬請期待
          img(src="https://orig00.deviantart.net/2e05/f/2015/206/7/b/esfera_del_dragon_de_3_estrella_render_hd_png_by_todoanimeoficial-d92t63m.png", alt="")
        li 敬請期待
          img(src="https://orig00.deviantart.net/6797/f/2015/206/d/a/esfera_del_dragon_de_4_estrella_render_hd_png_by_todoanimeoficial-d92t6dt.png", alt="")
        li 敬請期待
          img(src="https://orig00.deviantart.net/e7be/f/2014/032/b/0/esfera_del_dragon_5_estrellas_by_vaer2000-d74n3ga.png", alt="")
        li 敬請期待
          img(src="https://i.pinimg.com/originals/d7/10/f6/d710f6c1957baa1fd1a79350a56e3e77.png", alt="")
        li 敬請期待
          img(src="https://t00.deviantart.net/4Xwer_80Bp9Xx3sJVyFE9gB_IRo=/fit-in/700x350/filters:fixed_height(100,100):origin()/pre00/ea06/th/pre/f/2014/032/8/1/esfera_del_dragon_7_estrellas_by_vaer2000-d74n3rt.png", alt="")
        li 敬請期待
          img(src="https://vignette.wikia.nocookie.net/fictional-battle-omniverse/images/1/1f/Shenron_Dragon_Ball.png/revision/latest?cb=20160618211404", alt="")

//- .pin
//-   img(src="https://i.imgur.com/0No6xG9.png", alt="")
.copyright 
  p 此網頁純屬個人練習作品(<a href="https://goo.gl/5Dhk5M" target="_blank">圖片來源</a>)
